body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    padding: 1rem;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #e75050;
    padding: 0 2rem;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: #ffffff;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #4a4ab8;
}